@font-face {
    font-family: 'Fearlessly';
    src: url('../assets/fonts/Fearlessly-Regular.woff2') format('woff2'),
        url('../assets/fonts/Fearlessly-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}